!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.launch
*.log
*.pid
*.pid.lock
*.seed
*.sublime-workspace
*.tgz
.DS_Store
.c9/
.classpath
.env
.eslintcache
.grunt
.idea
.lock-wscript
.next
.node_repl_history
.npm
.nyc_output
.project
.sass-cache
.settings/
.vscode/*
.yarn-integrity
/dist
/out-tsc
/tmp
Thumbs.db
bower_components
build/
connect.lock
coverage
globalConfigMongo.json
jspm_packages/
lerna-debug.log
lib-cov
logs
node_modules/
npm-debug.log*
pids
typings
yarn-debug.log*
yarn-error.log*
